# Data
/data/*/*
data/*/*_networks_test.pt
!data/README.md

# Configs
!configs/README.md

# Logs
/logs/*
!logs/README.md

# Results
/results/*
!/results/README.md

# Outputs
/outputs/*
!/outputs/README.md

# Python & pip
*__pycache__*
*egg-info*

# Others
.ignore
references